extends ../layout/home.pug
block view
  // HEADER END
  section.featured-img.text-center.team-bg
    .overlay
    .breadcrumbs
      .table.width-100p.height-100p
        .table-row
          .table-cell.align-middle
            .h4 Smart ruphay
            ul
              li
                a(href='index.html') Inicio
              li
                span -
              li
                span Empresas
  // TEAM SECTION START
  section#portfolio.section-wrapper.gray-background.pb60
    .container
      .row
        .col-lg-12.heding-wrapper.text-center.scale-less.animate-in
           iframe(width='560' height='315' src='https://www.youtube.com/embed/pCkXtMAeP5o' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

    .portfolio-wrapper
      .portfolio-list.grid
        

    .clearfix
